@model MilkyProject.WebUi.Dtos.EmployeeDtos.CreateEmployerDto
@{
    ViewData["Title"] = "CreateEmployer";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div id="content">
    <!-- topbar -->
    <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="full">
                <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                <div class="logo_section">
                    <a href="index.html"><img class="img-responsive" src="/pluto-1.0.0/images/logo/logo.png" alt="#" /></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- end topbar -->
    <!-- dashboard inner -->
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Milky Çalışan Ekleme</h2>
                    </div>
                </div>
            </div>

            <!-- Image Upload Form -->
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div class="form-group">
                            <label for="ImageTitle">Çalışan Adı:</label>
                            <input type="text" class="form-control" asp-for="EmployeName" required>
                        </div>

                        <div class="form-group">
                            <label>Çalışan Görsel Yolu:</label>
                            <input type="text" class="form-control" asp-for="ImageUrl" required>
                        </div>

                        

                        <div class="form-group">
                            <label>Çalışanın Mesleği</label>
                            <select class="form-control" asp-for="JobId" asp-items="ViewBag.JobList" required>
                                <option value="">Seçiniz</option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-success">Kategori Ekle</button>
                    </form>
                </div>
            </div>
            <!-- End Image Upload Form -->

        </div>
    </div>
    <!-- end dashboard inner -->
</div>

