<div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="/dairy-website-template/img/banner.jpg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="/dairy-website-template/img/banner-1.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-white mb-3">En İyi Süt Ürünlerini Satıyoruz</h2>
                        <p class="text-white mb-4">Çiftliğimizde üretilen en taze ve doğal süt ürünlerini sunuyoruz. Kalite ve lezzet garantisiyle ürünlerimiz sofralarınıza ulaşıyor.</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Daha Fazla Bilgi Edinin</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="/dairy-website-template/img/banner-2.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-white mb-3">Dünyanın Her Yerine Taze Süt Gönderiyoruz</h2>
                        <p class="text-white mb-4">Taze sütümüzü dünyanın her yerine hızlı ve güvenli bir şekilde ulaştırıyoruz. Doğallığı sofralarınıza taşıyoruz.</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Daha Fazla Bilgi Edinin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>