@model int
<div class="col-md-6 col-lg-3">
    <div class="full counter_section margin_bottom_30">
        <div class="couter_icon">
            <div>
                <i class="fa fa-paint-brush yellow_color"></i>
            </div>
        </div>
        <div class="counter_no">
            <div>
                <p class="total_no">@Model</p>
                <p class="head_couter">Hizmet Sayısı</p>
            </div>
        </div>
    </div>
</div>