@model List<MilkyProject.WebUi.Dtos.AboutDtos.ResultAboutDto>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">25</h1>
                            <small class="fs-5 fw-bold">Yıllık Deneyim</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="/dairy-website-template/img/service-1.jpg">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="/dairy-website-template/img/service-2.jpg">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="/dairy-website-template/img/service-3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">Hakkımızda</p>
                <h1 class="mb-4">Süt Çiftliğimiz ve Tarihimiz Hakkında Bilgi Edinin</h1>
                <p class="mb-4">25 yıllık deneyimimizle, doğaya ve sağlığa uygun organik süt ürünleri üretiyoruz. Süt çiftliğimizde hayvanlarımızın refahını ön planda tutuyor, sürdürülebilir tarım yöntemleriyle en kaliteli süt ürünlerini sunuyoruz. Hikayemizi ve çiftliğimizin tarihini keşfedin.</p>
                <div class="row g-5 pt-2 mb-5">
                   
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="/dairy-website-template/img/service.png" alt="">
                            <h5 class="mb-3">Öne Çıkan Hizmetlerimiz</h5>
                            <span>Sağlıklı ve taze ürünleri sizlere sunmak için gece gündüz çalışıyoruz. Her zaman en iyi kaliteyi hedefliyor ve memnuniyetinizi önemsiyoruz.</span>
                        </div>
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="/dairy-website-template/img/product.png" alt="">
                        <h5 class="mb-3">Organik Ürünler</h5>
                        <span>Tamamen doğal ve katkısız ürünlerimizle sağlıklı bir yaşam tarzını destekliyoruz. Süt ürünlerimizin her aşamasında doğallığı ve kaliteyi garanti ediyoruz.</span>
                    </div>
            
                </div>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Daha Fazlasını Keşfedin</a>
            </div>
        </div>
    </div>
</div>