  
    <nav id="sidebar">
        <div class="sidebar_blog_1">
            <div class="sidebar-header">
                <div class="logo_section">
                    <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
                </div>
            </div>
            <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                    <div class="user_img"><img class="img-responsive" src="/pluto-1.0.0/images/indir.png" alt="#" /></div>
                    <div class="user_info">
                    
                        <p><span class="online_animation"></span> Online</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_blog_2">
        
            <ul class="list-unstyled components">
                <li >
                    <a href="/Dashboard/Index"><i class="fa fa-dashboard red_color"></i> <span>Dashboard</span></a>
                
                </li>
                <li><a href="/DashboardGallery/Index"><i class="fa fa-photo orange_color"></i> <span>Galeri</span></a></li>
                <li><a href="/DashboardAdress/Index"><i class="fa fa-location-arrow yellow_color"></i> <span>Adres</span></a></li>
                <li>
                    <a href="/DashboardProduct/Index" ><i class="fa fa-shopping-cart green_color"></i> <span>Ürünlerimiz</span></a>
                
                </li>
                <li><a href="/DashboardCategory/Index"><i class="fa fa-list blue2_color"></i> <span>Kategorilerimiz</span></a></li>
                <li>
                    <a href="/DashboardAbout/Index"><i class="fa fa-info purple_color2"></i> <span>Hakkımızda</span></a>
                
                </li>
                <li><a href="/DashboardContact/Index"><i class="fa fa-comments red_color"></i> <span>Gelen Kutusu</span></a></li>
                <li>
                    <a href="/DashboardNewsletter/Index">
                        <i class="fa fa-envelope orange_color"></i> <span>Haber Bültenimiz</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/DashboardService/Index" ><i class="fa fa-rocket yellow_color"></i> <span>Hizmetlerimiz</span></a>
                
                </li>
                <li><a href="/DashboardJob/Index"><i class="fa fa-briefcase green_color"></i> <span>Meslek Gruplarımız</span></a></li>
                <li><a href="/DashboardEmployer/Index"><i class="fa fa-trophy blue2_color"></i> <span>Çalışanlarımız</span></a></li>
                <li><a href="/DashboardTestimonial/Index"><i class="fa fa-users purple_color2"></i> <span>Referanslarımız</span></a></li>

                <li><a href="/Default/Index"><i class="fa fa-hand-o-left red_color"></i> <span>Siteye Geri Dön</span></a></li>
            </ul>
        </div>
    </nav>