<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>John David</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                
            </li>
            <li><a href="widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Galeri</span></a></li>
            <li><a href="widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Adres</span></a></li>
            <li>
                <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Ürünlerimiz</span></a>
                
            </li>
            <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Kategorilerimiz</span></a></li>
            <li>
                <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Hakkımızda</span></a>
                
            </li>
            <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Gelen Kutusu</span></a></li>
            <li>
                <a href="contact.html">
                    <i class="fa fa-paper-plane red_color"></i> <span>Haber Bültenimiz</span>
                </a>
            </li>
            <li class="active">
                <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Hizmetlerimiz</span></a>
                
            </li>
            <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Meslek Gruplarımız</span></a></li>
            <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Çalışanlarımız</span></a></li>
            <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Referanslarımız</span></a></li>

            <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Çıkış Yap</span></a></li>
        </ul>
    </div>
</nav>