<div class="col-lg-3 col-md-6">
    <h5 class="text-white mb-4">Çalışma Saatlerimiz</h5>
    <p class="mb-1">Pazartesi - Cuma</p>
    <h6 class="text-light">09:00 am - 07:00 pm</h6>
    <p class="mb-1">Cumartesi</p>
    <h6 class="text-light">09:00 am - 12:00 pm</h6>
    <p class="mb-1">Pazar</p>
    <h6 class="text-light">Closed</h6>
</div>