@model List<MilkyProject.WebUi.Dtos.TestimonialDtos.ResultTestimonialDto>


<div class="col-md-6">
   <div class="dark_bg full margin_bottom_30">
      <div class="full graph_head">
         <div class="heading1 margin_0">
            <h2>Referanslarımız</h2>
         </div>
      </div>
      <div class="full graph_revenue">
         <div class="row">
            <div class="col-md-12">
               <div class="content testimonial">
                  <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            var activeClass = i == 0 ? "active" : ""; 
                            <div class="carousel-item @activeClass">
                               <div class="img-box"><img src="@item.ImageUrl" alt=""></div>
                               <p class="testimonial">@item.Description</p>
                               <p class="overview"><b>@item.NameSurname</b></p>
                            </div>
                        }
                     </div>
                     <a class="carousel-control left carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                     <i class="fa fa-angle-left"></i>
                     </a>
                     <a class="carousel-control right carousel-control-next" href="#testimonial_slider" data-slide="next">
                     <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
